@{
    ViewBag.Title = "Durar Group";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Durar Group</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.ico" rel="shortcut icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/

    ======================================================== -->
    
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-end ">

            <div class="contact-info d-flex align-items-center">
                <!--<i class="d-flex align-items-center"><img src="/assets/img/location.svg" /><span>WestBurry Commercial Tower | Marasi Drive | Business Bay | Dubai | UAE </span></i>-->
                <a href="mailto:info@durargroup.com"> <i class="d-flex align-items-center ms-4"><img src="/assets/img/email.svg" /><span>info@durargroup.com</span></i></a>
                <a href="tel:+97143418558"> <i class="d-flex align-items-center ms-4"><img src="/assets/img/phone.svg" /><span>  +971 4 341 8558 </span></i></a>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">


            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo me-auto me-lg-0"><img src="/assets/img/logoinner.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="../">Home</a></li>
                    <li><a class="nav-link scrollto" href="../aboutus">About Us</a></li>
                    <li><a class="nav-link scrollto" href="../group">The Group</a></li>
                    <li><a class="nav-link scrollto" href="../projects">Our Projects</a></li>
                    <li><a class="nav-link scrollto" href="../news">News and Events</a></li>
                    <li><a class="nav-link scrollto" href="../contactus">Contact Us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->


        </div>
    </header><!-- End Header -->

    <div id="carouselExampleDark" class="carousel slide lazy-load" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img data-src="/assets/img/bg1.png" src="" class="lazyload d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>A Legend's Tale</h3>
                    <!--<h4>Developments</h4>-->
                    <a href="/projects" class="button_project">Our Projects</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/img/bg.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Your Forever Home</h3>
                    <!--<h4>Townhouses & Apartments</h4>-->
                    <a href="/projects" class="button_project">Our Projects</a>
                </div>
            </div>

            <div class="carousel-item">
                <img data-src="/assets/img/bg4.png" src="" class="lazyload d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Premium Amenities</h3>
                    <!--<h4>Developments</h4>-->
                    <a href="/projects" class="button_project">Our Projects</a>
                </div>
            </div>
            <div class="carousel-item">
                <img data-src="/assets/img/bg2.png" src="" class="lazyload d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Blooming Elegance</h3>
                    <!--<h4>Townhouses & Apartments</h4>-->
                    <a href="/projects" class="button_project">Our Projects</a>
                </div>
            </div>

            <div class="carousel-item">
                <img data-src="/assets/img/bg5.png" src="" class="lazyload d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Where luxury meets timeless elegance</h3>
                    <!--<h4>Townhouses & Apartments</h4>-->
                    <a href="/projects" class="button_project">Our Projects</a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    <!-- ======= Hero Section ======= -->
    <!--<section id="hero" class="d-flex align-items-center">
      <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
        <div class="row">
          <div class="col-lg-8">
            <h1>Welcome to <span>Restaurantly</span></h1>
            <h2>Delivering great food for more than 18 years!</h2>

            <div class="btns">
              <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>

            </div>
          </div>


        </div>
      </div>
    </section>-->
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <p>Welcome to DURAR Group</p>
                </div>
            </div>
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-1" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="/assets/img/video.png" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-2 content">
                        <h3>Our Story</h3>
                        <p style="text-align: justify;line-height: 1.7;">
                            Welcome to DURAR, a leading property development group in Dubai. With years of experience and a strong track record, we are dedicated to transforming the real estate landscape of this dynamic city. Our commitment to excellence, innovation, and customer satisfaction sets us apart in the industry.
                        </p>
                        <p style="text-align: justify;line-height: 1.7;">
                            At DURAR, we specialize in the development of high-quality residential, commercial, retail, and industrial properties. Our team of experts combines their extensive knowledge and expertise with a passion for creating exceptional spaces that meet the diverse needs of our clients.

                        </p>
                    </div>

                </div>

            </div>
        </section><!-- End About Section -->
      


        <!-- ======= Our Vision & Mission Section ======= -->
        <section id="mission" data-aos="fade-up" data-aos-delay="100">

            <div class="mission_content container" data-aos="fade-up">
                <div class="section-title">
                    <p>Our Projects</p>
                </div>
            </div>



            <div class="row" data-aos="fade-up" data-aos-delay="100">

                <div class="col-lg-12 mt-0 mt-lg-0">
                    <div class="tab-content">

                        

                        
                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 text-center data"></div>
                                <div class="col-lg-5 p-0 text-center">
                                    <img data-src="/assets/img/project/north.png" src="/assets/img/project/north-min.png" alt="" class="img-fluid project" />
                                </div>
                                <div class="col-lg-5 pt-4 details  my-auto ">
                                    <h4>MASA RESIDENCE</h4>
                                    <p>
                                        MASA Residence, an extraordinary architectural masterpiece, is proudly branded by YOO, inspired by the renowned design genius Philippe Starck. This iconic residential tower is a harmonious fusion of innovative design, luxury living, and the breathtaking natural beauty of Al Marjan Island. MASA Residence is located in Al Marjan Island, a man-made island which has successfully transitioned into a world-class hospitality destination.

                                    </p>
                                    <a href="/projects/masaresidence" class="read_more">Read More</a>

                                </div>
                                <div class="col-lg-1 p-0 text-center"></div>
                            </div>
                        </div>


                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 first text-center"></div>
                                
                                

                                <div class="col-lg-5 pt-4 second  details my-auto ">

                                    <h4>MOONSTONE</h4>
                                    <p>MOONSTONE is a masterpiece of luxury living nestled on the enchanting Al Marjan Island in Ras Al Khaimah, with interiors designed by the renowned brand MISSONI. This exclusive project redefines opulence and artistry, providing residents with breathtaking sea views from every room in their residence. The design elements of the project accentuate the natural beauty of the surrounding area, fostering a sense of harmony between the project and its natural environment.</p>
                                    <a href="/projects/moonstonesouth" class="read_more">Read More</a>
                                </div>
                                <div class="col-lg-5 p-0 third text-center">
                                    <img data-src="/assets/img/project/south.png" src="/assets/img/project/south-min.png" alt="" class="img-fluid project" />
                                </div>
                                
                                <div class="col-lg-1 p-0 fourth text-center data"></div>
                            </div>
                        </div>


                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 text-center data"></div>
                                <div class="col-lg-5 p-0 text-center">
                                    <img data-src="/assets/img/project/jasmine.png" src="/assets/img/project/jasmine-min.png" alt="" class="img-fluid project" />
                                </div>
                                <div class="col-lg-5 pt-4 details  my-auto ">
                                    <h4>JASMINE LANE</h4>
                                    <p>
                                        Jasmine Lane is a luxurious residential project located in the prestigious Jumeirah Golf Estates in Dubai.
                                        The project offers a range of spacious and elegantly designed town houses that are surrounded by lush greenery and scenic views of the golf course.
                                    </p>
                                    <a href="/projects/jasminelane" class="read_more">Read More</a>

                                </div>
                                <div class="col-lg-1 p-0 text-center"></div>
                            </div>
                        </div>



                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 first text-center"></div>

                                <div class="col-lg-5 pt-4 second details  my-auto ">

                                    <h4>J ONE</h4>
                                    <p>A symbol of Wisdom, Wealth, Strength and Protection.A precious living gift from Mother Nature surrounding the wearer with purity, generosity and balance integrity.The symbol of life gift made from a tiny sand grain to a precious jewellery.</p>
                                    <a href="/projects/jone" class="read_more">Read More</a>
                                </div>

                                <div class="col-lg-5 p-0 third  text-center">
                                    <img data-src="/assets/img/project/jone.png" src="/assets/img/project/jone-min.png" alt="" class="img-fluid project" />
                                </div>
                                <div class="col-lg-1 p-0 fourth text-center data"></div>
                            </div>
                        </div>






                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 text-center data"></div>
                                <div class="col-lg-5 p-0 text-center">
                                    <img data-src="/assets/img/project/durar1.png" src="/assets/img/project/durar1-min.png" alt="" class="img-fluid project" />

                                </div>
                                <div class="col-lg-5 pt-4 details  my-auto ">

                                    <h4>DURAR 1</h4>
                                    <p>DURAR 1 comprises a total of 241 units, including one, two, and three bedroom apartments and retail units at the ground floor, offering a superior standard of living and providing the utmost luxury and privacy that you may desire.</p>
                                    <a href="/projects/durar" class="read_more">Read More</a>


                                </div>
                                <div class="col-lg-1 p-0 text-center"></div>
                            </div>
                        </div>


                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 first text-center"></div>

                                <div class="col-lg-5 pt-4 details second  my-auto ">

                                    <h4>LATIFA TOWER</h4>
                                    <p>Latifa towers  Project, is residental apartments with shell and core offices for bespoke interior creations. </p>
                                    <a href="/projects/latifa" class="read_more">Read More</a>
                                </div>

                                <div class="col-lg-5 p-0 third text-center">
                                    <img data-src="/assets/img/project/latifa.png" src="/assets/img/project/latifa-min.png" alt="" class="img-fluid project" />
                                </div>
                                <div class="col-lg-1 p-0 fourth text-center data"></div>
                            </div>
                        </div>

                        <div class="tab-pane  active show" id="tab-2">
                            <div class="row">
                                <div class="col-lg-1 p-0 text-center data"></div>
                                <div class="col-lg-5 p-0 text-center">
                                    <img data-src="/assets/img/project/sidra.png" src="/assets/img/project/sidra-min.png" alt="" class="img-fluid project" />
                                </div>
                                <div class="col-lg-5 pt-4 details  my-auto ">

                                    <h4>SIDRA TOWER</h4>
                                    <p>Sidra Tower  Project, is a modern and stylish Hotel Apartment Project.</p>
                                    <a href="/projects/sidra" class="read_more">Read More</a>
                                </div>
                                <div class="col-lg-1 p-0 text-center"></div>
                            </div>
                        </div>






                    </div>
                </div>
            </div>


        </section><!-- End Vision & Mission Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">

            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <p>Our Photo Gallery</p>
                </div>
            </div>

            <div class="container-fluid p-0" >

                <div class="row home_gallery g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-1.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-1.png" src="/assets/img/gallery/gallery-1-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-2.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-2.png" src="/assets/img/gallery/gallery-2-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-3.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-3.png" src="/assets/img/gallery/gallery-3-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-4.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-4.png" src="/assets/img/gallery/gallery-4-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-5.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-5.png" src="/assets/img/gallery/gallery-5-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-6.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-6.png" src="/assets/img/gallery/gallery-6-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-7.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-7.png" src="/assets/img/gallery/gallery-7-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a  href="/assets/img/gallery/gallery-8.png" class="gal_more gallery-lightbox" data-gall="gallery-item">
                                <div>View More</div> <img data-src="/assets/img/gallery/gallery-8.png" src="/assets/img/gallery/gallery-8-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 d-none">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-13.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-13.png" src="/assets/img/gallery/gallery-13-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 d-none">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-10.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-10.png" src="/assets/img/gallery/gallery-10-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 d-none">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-11.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src="/assets/img/gallery/gallery-11.png" src="/assets/img/gallery/gallery-11-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 d-none">
                        <div class="gallery-item">
                            <a href="/assets/img/gallery/gallery-12.png" class="gallery-lightbox" data-gall="gallery-item">
                                <img data-src-="/assets/img/gallery/gallery-12.png" src-="/assets/img/gallery/gallery-12-min.png" alt="" class="img-fluid lazy">
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Gallery Section -->



    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-2 col-md-6">
                        <div class="footer_logo">

                            <img src="/assets/img/logo_footer.png" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-newsletter pt-5">
                        <h4>About Us</h4>
                        <p>Durar is a one of the leading properties development group that offers a range of world class solutions to its clients in development and flexibility in planning.</p>
                        <div class="col-lg-12 col-md-12 footer-links">
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/contactus">Contact Us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/projects">Our Projects</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/group">Group</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6  pt-5"></div>
                    <div class="col-lg-4 col-md-6 pad  pt-5">
                        <div class="footer-info">
                            <p>
                                WestBurry Offices | Marasi Drive | Business Bay <br>  Dubai | United Arab Emirates<br>

                                <strong>Phone : </strong><a href="tel:+97143418558">+971 4 341 8558</a><br>
                                <strong>Email : </strong><a href="mailto:info@durargroup.com">info@durargroup.com</a><br>
</p>
                            <div class="social-links pad  mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                Copyright 2024 Durar Group © All rights reserved
            </div>

        </div>
    </footer><!-- End Footer -->

    <div class="popup">
        <div class="popup_content">
            <div class="content_1">
                <div class="popup_head">
                    <div class="head_left">
                        <img src="/assets/img/logo_footer.png">
                    </div>
                    <div class="head_right">
                        <h2>IMPORTANT NOTICE</h2>
                        <span>Fraudulent Communications and Payment Instructions</span>
                    </div>
                </div>
                <div class="content1_close">X</div>
                <p>Durar Group wishes to alert the public and its valued customers about fraudulent activities related to unauthorized communication and payment requests.</p>
                <p>Please note that Durar Group will never contact you from any unofficial phone number or request payments for booked units to any bank account other than those explicitly provided in your Unit Reservation Agreement or Sale and Purchase Agreement. Any claims or communications suggesting otherwise are fraudulent and should be disregarded immediately.</p>
                <p>We urge all customers to exercise caution and only transfer instalment payments according to the official bank details mentioned in your agreements. Durar Group shall not accept any liability for payments made to any unauthorized accounts or in response to misleading communication.</p>
                <p>If you encounter any suspicious activity or require further clarification, please contact us directly through our verified channels.</p>
                <p>Thank you for your attention and cooperation.</p>
                <p><strong>Durar Group Management</strong></p>
            </div>

            <div class="content_2">
                <div class="content2_close">X</div>
                <div class="popup_head">
                    <div class="head_left">
                        <img src="/assets/img/logo_footer.png">
                    </div>
                    <div class="head_right">
                        <h3>NOTICE FOR DURAR CUSTOMERS</h3>
                    </div>
                </div>

                <p>It has come to our attention through social media and other platforms that Elara is marketing certain projects in Al Marjan Island, Ras Al Khaimah, incorrectly presenting itself as a partner of Durar Group. We would like to categorically clarify that Elara projects are not affiliated with, endorsed by, or part of Durar Group in any capacity.</p>
                <p>Any such claims or representations suggesting otherwise are misleading and inaccurate and misleading the public and Durar Customers. We urge the public and potential investors to disregard any such unauthorized marketing material or promotions associating or claiming to partner Elara with Durar Group.</p>
                <p>For accurate information about our ongoing projects and partnerships, please visit this link:<a href="~/Projects">Projects</a></p>
                <p>For our official contact details, please refer to this link: <a href="~/Contactus">ContactUs</a></p>
                <p>Thank you for your understanding and cooperation.</p>
                <p><strong>Durar Group Management</strong></p>
            </div>

        </div>
    </div>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/assets/js/jquery_lazyload.js"></script>
    <script src="/assets/js/main.js"></script>
    
   
</body>

</html>
