<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="keywords" content="Durar Group">
    <link href="/assets/img/favicon.ico" rel="icon shortcut icon">

</head>
<body>
 
    <!-- ======= Header ======= -->
    <header id="header">
        <div class="top_bar mobile_wpml_hidden mobile_contacts_hidden mobile_socials_hidden mobile_cart_hidden mobile_search_hidden">
            <div class="container">


                <div class="top_bar_info_wr" style="justify-content: center">

                    <ul class="top_bar_info" id="top_bar_info_0" style="display: block;">
                        <li>
                            <i class="stm-pin6" style="font-size: 15px; color: #fde428;"></i>
                            <span>
                                WestBurry Commercial Tower | Marazi Drive | Business Bay | Dubai | UAE
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o" style="font-size: 15px; color: #fde428;"></i>
                            <span>
                                info@durargroup.com
                            </span>
                        </li>
                        <li>
                            <i class="stm-phone_13_2" style="font-size: 15px; color: #fde428;"></i>
                            <span>
                                +97143418558
                            </span>
                        </li>
                    </ul>
                </div>



            </div>
        </div>
       
         <div class="header-boxhide_wpml_on_mobile">
            <div class="container">
                <div class="logo-box">
                    <div class="logo logo-desktop">
                        <a href="https://durargroup.com/Latest/" style="margin: -12px 0px 0px 0px;">
                            <img src="https://durargroup.com/Latest/wp-content/uploads/2017/05/durar-group-logo-01-2.jpg" style="width: 170px; height: px;" alt="Durar Group">
                        </a>
                    </div>
                    <div class="logo logo-mobile">
                        <a href="https://durargroup.com/Latest/" style="margin: -12px 0px 0px 0px;">
                            <img src="https://durargroup.com/Latest/wp-content/uploads/2017/05/durar-group-logo-01-2.jpg" style="width: 170px; height: px;" alt="Durar Group">
                        </a>
                    </div>
                    <div class="menu-toggle">
                        <button>&nbsp;</button>
                    </div>
                </div>

                <div class="nav-box">
                    <ul id="menu-main-menu-durar" class="main_menu_nav">
                        <li id="menu-item-2598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-2598"><a href="https://durargroup.com/Latest/">HOME</a></li>
                        <li id="menu-item-2599" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-58 current_page_item menu-item-2599"><a href="https://durargroup.com/Latest/about-us-2/" aria-current="page">ABOUT US</a></li>
                        <li id="menu-item-2600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2600"><a href="https://durargroup.com/Latest/the-group/">THE GROUP</a></li>
                        <li id="menu-item-2601" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-2601">
                            <a href="https://durargroup.com/Latest/our-projects/">OUR PROJECTS</a><span class="arrow"><i></i></span>
                            <ul class="sub-menu">
                                <li id="menu-item-2602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2602"><a href="https://durargroup.com/Latest/our-projects/gallery-durar1/">Gallery</a></li>
                                <li id="menu-item-2603" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2603"><a href="https://durargroup.com/Latest/brochure/">Brochure</a></li>
                                <li id="menu-item-2604" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2604"><a href="https://durargroup.com/Latest/our-projects/video-jone/">Video</a></li>
                                <li id="menu-item-2704" class="menu-item menu-item-type-post_type menu-item-object-stm_portfolio menu-item-2704"><a href="https://durargroup.com/Latest/portfolio/focus-on-core-delivers-growth-for-retailer/">Key Plans</a></li>
                                <li id="menu-item-2606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2606"><a href="https://durargroup.com/Latest/floor-plans/">Floor Plans</a></li>
                                <li id="menu-item-2607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2607"><a href="https://durargroup.com/Latest/location-j-one/">Location</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-2609" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2609"><a href="https://durargroup.com/Latest/blog/">NEW AND EVENTS</a></li>
                        <li id="menu-item-2610" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2610"><a href="https://durargroup.com/Latest/careers/">CAREERS</a></li>
                        <li id="menu-item-2650" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2650"><a href="https://durargroup.com/Latest/signup/">CONTACT US</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!-- End Header -->
    @RenderBody()
    <!-- ======= Footer ======= -->
    <!-- End Footer -->

    @RenderSection("scripts", required: false)

</body>
</html>