@{
    ViewBag.Title = "News & Events";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Durar Group</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/assets/img/favicon.ico" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/assets/css/innerstyle.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Restaurantly
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/restaurantly-restaurant-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
        <div class="container d-flex justify-content-end ">

            <div class="contact-info d-flex align-items-center">
                <!--<i class="d-flex align-items-center"><img src="/assets/img/location.svg" /><span>WestBurry Commercial Tower | Marasi Drive | Business Bay | Dubai | UAE </span></i>-->
                <a href="mailto:info@durargroup.com"> <i class="d-flex align-items-center ms-4"><img src="/assets/img/email.svg" /><span>info@durargroup.com</span></i></a>
                <a href="tel:+97143418558"> <i class="d-flex align-items-center ms-4"><img src="/assets/img/phone.svg" /><span>  +971 4 341 8558 </span></i></a>
            </div>
        </div>
    </div>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-cente">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">


            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo me-auto me-lg-0"><img src="/assets/img/logoinner.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto" href="../">Home</a></li>
                    <li><a class="nav-link scrollto " href="../aboutus">About Us</a></li>
                    <li><a class="nav-link scrollto" href="../group">The Group</a></li>
                    <li><a class="nav-link scrollto" href="../projects">Our Projects</a></li>
                    <li><a class="nav-link scrollto active" href="../news">News and Events</a></li>
                    <li><a class="nav-link scrollto" href="../contactus">Contact Us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->


        </div>
    </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
    <section id="common_head2" class="d-flex align-items-center">
        <div class="container p-2" data-aos="fade-up" data-aos-delay="100">
            <div class="common_text">
                <h2>News and Events</h2>
                <a href="../">Home</a> > <span>News and Events</span>
            </div>
        </div>
    </section><!-- End Header -->



    <main id="main">
        <section id="news_cont">
            <div class="container p-0" data-aos="fade-up" data-aos-delay="100">
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-8">
                        <h3>Brand new tower in Dubai has a designer’s touch</h3>
                        <div><img class="icon" src="/assets/img/News/clock.svg" /> <span> July 1, 2022</span></div>
                        <img class="w-100" src="/assets/img/News/jone.jpg" />
                        <p>
                            Dubai: It sure looks like one-of-its kind: the “J One” project on Business Bay is to be officially launched early next week. The project from Durar Group is located in Business Bay. Further details are to be announced on Sunday.
                            The design is what makes it instantly striking, and a further proof that Dubai’s developers are using cutting-edge design as a marketing tool in itself. In doing so, they are also moving away from the “skyscraper is everything” mentality.

                            The many Meraas helmed projects are stretching the envelope on what constitutes good design, and the privately owned Omniyat has also been a pioneer when it comes to such ventures. The latter was the first to go in for a Zaha Hadid authored project, with The Opus, also in Business Bay.
                            And it is not just residential that is feeling the design beat… drive down Citywalk and Boxpark retail precincts and it becomes amply clear that the architectural tastes of developers and consumes have changed.
                        </p>
                        <a href="">Read More</a>
                    </div>
                </div>
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-8">

                    </div>
                </div>
            </div>
        </section>




    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-2 col-md-6">
                        <div class="footer_logo">

                            <img src="/assets/img/logo_footer.png" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-newsletter pt-5">
                        <h4>About Us</h4>
                        <p>Durar is a one of the leading properties development group that offers a range of world class solutions to its clients in development and flexibility in planning.</p>
                        <div class="col-lg-12 col-md-12 footer-links">
                            <ul>
                                <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/contactus">Contact Us</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/projects">Our Projects</a></li>
                                <li><i class="bx bx-chevron-right"></i> <a href="/group">Group</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-6  pt-5"></div>
                    <div class="col-lg-4 col-md-6  pt-5">
                        <div class="footer-info">
                            <p>
                                WestBurry Offices | Marasi Drive | Business Bay <br>  Dubai | United Arab Emirates<br>

                                <strong>Phone : </strong><a href="tel:+97143418558">+971 4 341 8558</a><br>
                                <strong>Email : </strong><a href="mailto:info@durargroup.com">info@durargroup.com</a><br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                Copyright 2024 Durar Group © All rights reserved
            </div>

        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/vendor/php-email-form/validate.js"></script>
    <script src="/assets/js/jquery-3.4.1.min.js"></script>
    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>

</body>

</html>


